.container {
    width: auto;
    height: auto;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
    margin: 10px 10px 10px 10px;
} 

.top-nav {
    background-color: #53bff7;
    height: 200px;
    display:flex;
    flex-basis: auto;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
    padding: 10px;
    margin: 0px 10px 10px 10px;
	
}
.middle-nav {
    background-color:hotpink;
    height: 200px;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
    padding: 10px;
    margin: 10px 10px 10px 10px;
	
}

.bottom-nav {
    background-color:aliceblue;
    height: 200px;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
    padding: 10px;
    margin: 10px 10px 10px ;
	
}

