h1{
    color:aliceblue;
    text-align: left;
    background-color: black;
    font-style: normal;
    font-family:serif;
}
h1 .h1color{
    color: #00FFFF;
}
h2{
    color:aliceblue;
    text-align: center;
    background-color:rebeccapurple;
    font-style: normal;
    font-family:serif;
}
h3{
    color:blue;
    text-align: right;
    background-color:rgb(99, 218, 248);
    font-style: normal;
    font-family: serif;
    text-decoration: underline;
}